/* 
    Created on : 26-Jun-2015, 18:40:29
    Author     : ShiboTheCoder <shehabattia96@gmail.com>
*/
/******************/
/*Elements*/
/*****************/
body{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
background: #f9e09f;
margin:0px; 
}
form>.form_input{} 
form>.form_text_input{}
form>.form_password_input{}
form>.form_checkbox_input{}
form>.form_submit_input{}

/******************/
/*Classes and IDs*/
/*****************/

/*All Pages*/
#header{
    margin: 0px;
    text-align: center;
    height: auto;
    width: 100%;
    font-family: helvetica, sans-serif; 
    color: white;
}
#topContainer{
    margin-top: -16px;
    background-color: #24486d;
    clear:both;
}
#header #welcome_text{
    margin:0px;
    margin-right: 20%;
    
}
#header>h1{
    padding:0px;
}
#header .logo{
    font-size:100px;
    margin: 0px;
    padding:0px;
}
.slogan,#welcome_text,#header .logo,#user>h4{
    text-shadow:#000 -5px 5px 10px;
}
#content{
    margin: 0px;
    height:auto;
margin:40px;
margin-top: 0px;

}
#content:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
#user{
    text-align: right;
    color:white;
}
#user > h4 > a {
    color:white;
}
#user > h4 > a:hover {
    color:#F2F2F2;
}

#navigation>ul{
    text-align: left;
    font-family: helvetica, sans-serif; 
    margin-top: 16px;
}
#navigation>ul>li>a{
    text-decoration: none;
    color:white;
}
#navigation>ul>li>a:hover{
    color:white;
    font-size:larger;
}
#navigation>ul>li{
    display: inline;
    padding: 6px 5px 2px 5px;
    margin-right:20px;
}
#header > h4.slogan{
    margin-top: 10px;
    height:50px;
}
footer{
    clear:left;
    color:white;
    padding: 10px;
    text-align:center;
    background-color: #24486d;
    text-shadow:#000 -5px 5px 10px;
}
/*Home Page*/

#comingsoon{
    color: #24486D;
    font-weight: bold;
    text-align: center;
}
#comingsoon > p{
    color: #000;
    font-size:25px;
}
#comingsoon > p > a > img{
    width:40px;
    border:none;
    box-shadow: blue 0px 0px 20px,#000 0px 0px -20px;
}
#comingsoon >  img{
    box-shadow: #000 0px 0px 20px,#000 0px 0px 20px;
}
#featured{
    padding:20px;
    display:none;
}
#featured>div{
    display:none;
    margin: 0px 0px 0px 10%;
}
#featured>ul{
}
#featured>ul>li>a{
    text-decoration: none;
    color:black;
}
#featured>ul>li>a:hover{
    font-size:larger;
}
#featured>ul>li{
    display: inline;
    padding: 6px 5px 2px 5px;
    border-radius: 25px;
    background-color:#ff3019;
    margin-right:20px;
}
#featured>ul>li:hover{
    background-color:orange;
}
#featured>div>div.results_container{
    float:left;
    padding:30px;
}
#featured>div>div.results_container:hover{
    opacity: 0.7;
    background-color:aquamarine; 
}

/*Posts Page*/
//Container that holds a post's title, body, etc..'
.post_container{
    
}
//Title of a post
.post_title{
    
}
//Date and author of a post
.post_infoBox{
    
}
//Element in the infoBox above
.post_infoBox_element{
    
}
//Body/Main Text of a post
.post_body{
    
}

/*Comment/Reply form*/
//Container holding all of textarea and submit button
.post_replyBox{
    
}
//Textarea to type reply
.post_replyTextArea{
    
}
//Submit button for reply
.post_submitButton{
    
}

/*Comments of a post*/
//Container holding all the comments, the title is h5 element
.comment_container{
    
}
//Container holding individual comment
.comment_box{
    
}
//Comment header, which shows who the comment is by and what is the date
.comment_header{
    
}
//Individual comment's' content
.comment_content{
    
}

/*Seach Page Results*/
//Container which holds individual search results:
.searchedPost_container{
    
}
//Title of post in the search result
.searchedPost_title{
    
}
//Info Box which tells you the issue, author and date
.searchedPost_infoBox{
    
}
//Element in the above mentioned info box
.searchedPost_infoBox_element{
    
}
//Body of searched post. Limited to a certain number of characters.
.searchedPost_body{
    
}

/*User Page*/
//Container for whole user box
.user_container{
    background-color:black;
}
//Name of user displayed at top of page
.user_name{
    
}
//Container containing all user info
.user_infoBox{
    background-color:yellow;
    
}
//Elements inside info box mentioned above
.user_infoBox_element{
}
.user_infoBox_element{
    display:block;
}

/*Admin Page*/
#admin_navigation{
    float: left;
}
#admin_content{
}
.admin_box{
    float:left;
    margin:15px;
    border: solid 1px black;
}
#newSignup{text-align: left;position:relative;left:30px;}
#newSignup>#basicinfo{position:relative;left:-40px;}
#stockphoto{
    width:40%;
    float:left;
}
#signup{
    width:50%;
    float:left;
    padding-left: 40px;
}
#stockphoto>img{ width:100%;height:100%;box-shadow:#000 0px 0px 25px;}
#basicinfo{
    padding-left:40px;
    float:left;
}
#signup > h1{
    height:60px;
}
#basicinfo > tbody > tr> td{
    font-size: 20px;
}
#basicinfo > tbody > tr> td> input{
height:30px;    
font-size:25px;
padding:1px;
color: #24486D;
}
#basicinfo > tbody > tr:nth-child(5) > td:nth-child(2) > select {
    height:30px;
    width:321px;
    color: #24486D;
    font-weight: bold;
    font-size:20px;
}
#basicinfo > tbody > tr> td > .submit_btn{
    color:#24486D;
    font-weight: bold;
    font-size: 16px;
    height:35px;
    box-shadow: #24486D 0px 0px 10px;
}
